body {
    background-color: rgb(12, 11, 11);
    color: white;
    text-align: center;
    font: bold 15px verdana;
}

#centrarlistas {
    text-align: left;
    width: 170px;
    margin: auto;
}

#video {
    width: 600px;
    height: 400px;
    margin: 20px auto;
    background-color: rgb(77, 0, 0);
    padding: 20px;
    border: black solid 5px;
    border-radius: 20px;
    box-shadow: white 3px 3px 20px;
}

#mivideo {
    width: 600PX;
    height: 400px;
    margin: auto;
}

#imagencontenido {
    width: 400px;
    height: 300px;
}